{% extends "layout.html" %}
{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/buypage.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
      <script type = "text/javascript"   src = "{{ url_for('static', filename = 'script.js') }}" ></script>
{% endblock %}
{% block content %}
<div class="jumbotron">
        <div class="row">
            <div class="col" >
                <div class="sticky-top">    
                <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1"><img data-toggle="modal" data-target="#myModal" src="{{ url_for('static', filename='img/picy.jpg') }}" /></div>
                            <div class="tab-pane" id="pic-2"><img data-toggle="modal" data-target="#myModal" src="{{ url_for('static', filename='img/img1.jpg') }}" /></div>
                            <div class="tab-pane" id="pic-3"><img data-toggle="modal" data-target="#myModal" src="{{ url_for('static', filename='img/img2.jpg') }}" /></div>
                            <div class="tab-pane" id="pic-4"><img data-toggle="modal" data-target="#myModal" src="{{ url_for('static', filename='img/img3.jpg') }}" /></div>
                            <div class="tab-pane" id="pic-5"><img data-toggle="modal" data-target="#myModal" src="{{ url_for('static', filename='img/picy.jpg') }}" /></div>
                          </div>
                          <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{ url_for('static', filename='img/picy.jpg') }}" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="{{ url_for('static', filename='img/picy.jpg') }}" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="{{ url_for('static', filename='img/picy.jpg') }}" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="{{ url_for('static', filename='img/picy.jpg') }}" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="{{ url_for('static', filename='img/picy.jpg') }}" /></a></li>
                          </ul>
            </div>
        </div>
        
              
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document" >
                      <div class="modal-content" >
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                                <img style="width: 100%;" src="picy.jpg" />
                        </div>
                        
                      </div>
                    </div>
                  </div>
        
        <div class="col">
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
            <p>hiii2</p>
     
        </div>
    </div>
    

    <div class="card card-main" style="background:white;">
        <div  class="head" >
          <ul class="nav nav-tabs" role="tablist" >
            
            <li class="nav-item cardy-tabby " >
              <a class="nav-link active" data-toggle="tab" href="#menu0" style="color: navy">Description</a>
            </li>
            <li class="nav-item cardy-tabby">
              <a class="nav-link" data-toggle="tab" href="#menu1" style="color: navy">Specification</a>
            </li>
            <li class="nav-item cardy-tabby">
              <a class="nav-link" data-toggle="tab" href="#menu2" style="color: navy">Comments</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="menu0" class="tab-pane active"><br>
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="menu1" class="tab-pane fade"><br>
            <h3>Specification</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu2" class="tab-pane fade"><br>
            
            <div class="row">
            
              <div class="col-7">
                <div class="card comment" >
                  <div class="card-body">
                    <h5 class="card-title">Jaydeep</h5>
                    <p class="card-text">This is an excellent products.The looks of the phone defines class and some of the best and latest feature available in the market</p>
                  </div>
                </div>

                <div class="card comment" >
                  <div class="card-body">
                    <h5 class="card-title">Jaydeep</h5>
                    <p class="card-text">This is an excellent products.The looks of the phone defines class and some of the best and latest feature available in the market</p>
                  </div>
                </div>

                <div class="card comment" >
                  <div class="card-body">
                    <h5 class="card-title">Jaydeep</h5>
                    <p class="card-text">This is an excellent products.The looks of the phone defines class and some of the best and latest feature available in the market</p>
                  </div>
                </div>

                <div class="card comment" >
                  <div class="card-body">
                    <h5 class="card-title">Jaydeep</h5>
                    <p class="card-text">This is an excellent products.The looks of the phone defines class and some of the best and latest feature available in the market</p>
                  </div>
                </div>

              </div>

              <div class="col-5" >
                <div class="sticky-top">    
                  <div class="card comment " style="padding:10px;">
                  <form class=" comment-form" >
                    <p>Type your review and let everyone know about the product</p>
                    <br>
                    <input type="text" name="Type">
                    <br>
                  </form>
                  </div>
                </div>
              </div>
        
              
            </div>
          </div>
    </div>

</div>
  
</div> 
{% endblock content %}