{% extends "layout.html" %} 
{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/layoutsy.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock head %}
{% block content %}
<p>{{ url_for('static', filename='styles/layoutsy.css') }}</p> <div class="about_container text-white" >
    <div class="row text-center">
      <div class="col-md-12 col-lg-12">
        <h1 class="display-4">About Tcity Electronics</h1>
        <p class="lead">WE ARE WHERE  YOU ARE!</p>
      </div>
    </div>
  </div>
  <div class="map_container">
    <div class="row">
      <div class="col-lg-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9215125729165!2d73.01830511421329!3d19.111098855836158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c1ff6143f345%3A0x370b0eb94c5eefbb!2sMahape!5e0!3m2!1sen!2sin!4v1566527258708!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-3 add_adjust ">
        <h5>Call Us / WhatsApp</h5>
            <p><a href="tel:+919090909090"><i class="fas fa-phone"></i> +(91) 9090909090 </a><br>
            </p>
            <h5>Email / Website</h5>
            <p>
               <a href="#"><i class="fas fa-envelope"></i> mailTCityinfo@gmail.com</a><br>
               <a href="#"><i class="fas fa-globe"></i></i> www.TCity-tech.com </a>

            </p>
            <h5>Working hours</h5>
            <p>
               Mon - Fri : 9am - 6pm(IST)
            </p>
            <h5>Address</h5>
              <p><span>309 - Rupa Solitaire,
         Bldg. No. A - 1, Sector - 1</span> Mahape, Navi Mumbai - 400710</p>
        </div>
      
    </div>  
  </div>
 {% endblock content %}